body{
    font-family: "Inter", sans-serif;
}
#head{
    display: grid;
    grid-template-columns: 50% 40% 10%;
    grid-template-rows: auto;
    background-image: url(./img/Atlas-imago-header_1150x105.avif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336);

    #menu{
        width: 25px;
        justify-self: end;
        align-self: center;
        margin-right: 30px;
        hr{
            border: 1px solid black;
        }
    }

    #menu:hover{
        cursor: pointer;
    }
    
    input{
        width: 250px;
        height: 20px;
        align-self: center;
        justify-self: end;
        padding-left: 10px;
    }
    input:hover, input:focus{
        transition:background-color 0.5s, border-radius 1.7s;
        width: 251px;
        height: 22px;
        background-color:aliceblue;
        border: solid 1px gray;
        border-radius: 50px;
        outline: none;
    }
}
#logo{
    margin-left: 15px;
    margin-bottom: 15px;
    div{
        a:first-child::after{
            content: " > ";
        }
    }
}
#logo img, #logo a{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-decoration: none;
}

nav{
    width: 100%;
    height: 100px;
    
    button{
        width: 100%;
        height: 60%;
        background-color: rgb(240, 175, 54);
        text-shadow: 0px 0px 7px white;
        font-size: 19px;
        font-weight: bolder;
        border: none;
        margin-top: 0px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.336);
    }
    
    button:hover{
        cursor: pointer;
        transition: background-color 0.5s;
        background-color: rgb(211, 142, 13);
    }

    ul{
        height: 40%;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        justify-items: center;
        align-items: center;
        background-color: rgb(230, 230, 230);
        border-bottom: 1px solid rgba(0, 0, 0, 0.336);
        
        li{
            width: 100%;
            height: 100%;
            grid-template-columns: 100%;
            grid-template-rows:100% ;
            display: grid;
        }
        li:nth-of-type(2){
            border-left: 1px solid rgba(0, 0, 0, 0.336);
            border-right: 1px solid rgba(0, 0, 0, 0.336);
        }
        li:hover{
            transition: background-color 0.5s ;
            background-color: rgb(212, 203, 203);
            cursor: pointer;
        }
        a{
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: black;
            display: grid;
            justify-content: center;
            align-content: center;
        }
        
    }
}

#content{
    display: grid;
    grid-template-rows:auto ;
    /* estilos generales dados a todos los h3 dentro de #content */
    h3{
        font-size: 30px;
        font-weight: 600;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
    }
    /* Estilos dados al apartado que cuenta un poco sobre que es LudosSport Leon */
    #nosotros{
        background-image: url(./img/390532454_877769143738442_3313470732952743734_n.jpg);
        background-repeat:no-repeat;
        background-size:cover;
        background-position-y: center;
        width: 100%;
        height: 450px;
        display: grid;
        grid-template-rows: 100px 350px;
        justify-content: center;
        color: rgba(241, 238, 238, 0.934);

        #fondo{
            position: absolute;
            width: 100%;
            height: 450px;
            background-color: rgba(0, 0, 0, 0.819);
            z-index: 1;
        }
        
        h2{
            font-family: "Kameron", serif;
            font-size:67px;
            align-self: center;
            justify-self: center;
            font-weight: bold;
            z-index: 2;
            
        }
        
        div{
            z-index: 3;
        }

        #parrafoLudosport{
            width: 70%;
            text-align: center;
            justify-self: center;
            align-self: center;
            font-weight: 500;
            letter-spacing: 0.01em;
            word-spacing: 0.2em;
            line-height: 19px;
            font-size: 20px;
            max-width: 1000px;
            align-self:self-start;
            margin-top: 25px;
        }
    }

    /* Estilos dados a sobre nosotros que contiene criticas y alumnos */
    #info{
        width: 100%;
        height: 300px;
        display: grid;
        grid-template-rows: 50px 150px;

        div{
            display: grid;
            grid-template-columns: 50% 50%;
            margin-top: 20px;            
            
            .criticas{
                width: 50%;
                height: 150px;
                min-width:320px;
                max-width: 420px;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 33% 33% 33%;
                justify-self: center;
                p{
                    justify-self: center;
                    text-align: center;
                }
                p:first-child{
                    align-self: center;
                    color: #ffa500;
                }
                p:first-child, p:nth-of-type(2){
                    font-size: 26px;
                    font-weight: bold;
                }
            }
        }
    }

    /* Estilos dados al apartado de las distintas armas */
    #armas{
        display: grid;
        row-gap: 20px;
        #contenidoArmas{
            display: grid;
            grid-template-columns: repeat(3, auto);
            margin-bottom: 15px;
            padding: 10px;
        }
    }

    /* Estilos dados al apartado de estilos de combate */
    #estilos{
        display: grid;
        column-gap: 20px;
        row-gap: 35px;
        justify-content: center;
        padding: 25px;
        h3{
            grid-column: 1/9;
            grid-row: 1/2;
        }
        #forma1{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        #forma2{
            grid-column: 4/5;
            grid-row: 2/3;
        }
        #forma3{
            grid-column: 6/7;
            grid-row: 2/3;
        }
        #forma4{
            grid-column: 8/9;
            grid-row: 2/3;
        }
        #forma5{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        #forma6{
            grid-column: 5/6;
            grid-row: 3/4;
        }
        #forma7{
            grid-column: 7/8;
            grid-row: 3/4;
        }
    }
    /* Estilos dados al apartado de nuestro equipo */
    #nuestroEquipo{
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 15% 85%;
        .fotoEquipo{
            justify-self: center;
            text-align: center;
        }
        img{
            width: 55%;
            border-radius: 15px;
        }
        h3{
            grid-column: 1/4;
        }
        #img1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        #img2{
            grid-column: 3/4;
            grid-row: 2/3;
        }
    }
}

/* Estructura general dada a las imagenes con texto debajo */
.imagenTexto{
    display: grid;
    justify-items: center;
    align-items:self-end;
    row-gap: 10px;
    
    img{
        width: 100%;
        height: 100%;
        max-width: 200px;
        max-height: 150px;
    }
    p{
        font-weight: 600;
        color: #890101;
        align-content: baseline;
    }
}
/* Estilos generales dados a todos los fondos y borde de abajo */
.fondoGris{
    background-color: #ededed;
    border-bottom: 1px solid rgba(0, 0, 0, 0.336); 
}
footer{
    background-color: #666666;
    color: white;
    width: 100%;
    height: 280px;
    display: grid;
    grid-template-columns: 35% 20% 25% 20%;
    #nameLogo{
        width: 100%;
        display: grid;
        align-content: space-between;
        padding-top: 10px;
        div{
            justify-self: center;
            p{
                font-style: italic;
                font-weight: bold;
                padding-top: 10px;
                font-size: 35px;
                color: #ffa500;
            }
            p:last-child{
                margin-left: 140px;
                color: black;
            }
        }
    }
    #imagenLogo img, #imagenLogo a{
        width: 60%;
        border-radius: 50%;
        text-decoration: none;
        max-width: 250px;
        max-height: 250px;
        justify-self: self-start;
    }
    .map{
        display: grid;
        align-items: center;
    }
    iframe{
        width: 100%;
        min-width: 250px;
        min-height: 250px;
        max-width: 400px;
        max-height: 400px;
    }

    #detallesComunicacion{
        display: grid;
        align-content: space-around;
        margin-left: 15px;
        font-weight: bold;
        i{
            padding-right: 4px;
        }
    }
    #redes{
        align-content: end;
        justify-self: end;
        padding-bottom: 15px;
        width: 65%;
        a, a:visited{
            color:white
        }
        .fa-brands{
            font-size: 25px;
        }
        i{
            padding: 10px;
        }
        
    }
}